<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <nav class="navbar navbar-expand-md navbar-dark">
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
            </li>
        </ul>

    </nav>
 
 