
<div class="jumbotron jumbtron-fluid animated fadeIn fast" >
        <div class="container-fluid" style="background-image: url('../../../assets/fotos/bodhisattva.jpg');">
            <p></p>
            <p></p>

<!--            <div class="row">
                <div class="col-4 col-sm-4">
                    <div class="card" ></div>
                    <img class="mx-auto d-block" src="../../../assets/fotos/Campoconterciopelo.jpg" alt="arbol">
                </div>
                <div class="col-4 col-sm-4">
                    <img class="mx-auto d-block" src="../../../assets/fotos/Arbol2.jpg" alt="arbol">
                </div>
                <div class="col-4 col-sm-4">
                    <img class="flat-right" src="../../../assets/fotos/Flores_1-1.jpg" alt="arbol">  
                </div>

            </div>
-->
        </div>
</div>

