
/*.jumbtron-fluid {
    background-image: url('../../../assets/fotos/bodhisattva.jpg');
}*/

.carousel-inner img {
    width: 50%;
    height: 50%;
  }

.container-fluid{
    padding-top: 50px;
    padding-bottom: 50px;
   /* background-color: darkslategrey;*/
    
}

.bg_cover {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../../../assets/fotos/Srilanka_1.jpg) ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}