
<!---->
<!---->
<!---->



<div class="jumbotron jumbtron-fluid animated fadeIn fast" >
    <div class="container-fluid" style="background-color: #4ca478; text-align: center; color: rgb(201, 201, 167); padding-top: 50px; padding-bottom: 50px;">
        <h1 style="color: ivory;">FOTO</h1>
        <p style="color: ivory;">La fotogragía es una manera de expresar el mundo desde una mirada sensible que toma el momento desnudo</p>
    </div>
    <br>

     <div class="container-fluid">
        <div class="row">
            <!--primera columna de las fotos estáticas-->
            <div class="col" style="background-color: #920afc; padding-top: 20px;">
                <div class="container">
                    <img src="../../../assets/fotos/elefante2H.jpg" alt="elefante" width="100%">
                </div>
                <br>
 <!--                <div class="container"  style="background-color: ivory; padding-top: 20px;">
                    <p><strong>"</strong>Debo crear mi propio sistema o seré esclavizado por el de alguna otra persona. <strong>"</strong> </p>
                </div>
-->
                <div class="container" style="padding-bottom:20px">
                    <img src="../../../assets/fotos/arbolseco.jpg" alt="arbolseco" width="100%">
                </div>
            </div>
            <!--segunda columna de las fotos estáticas-->
            <div class="col" style="background-color: #d2a561; padding-top: 20px;padding-bottom: 20px;">
                <div class="contaier">
                    <img src="../../../assets/fotos/MonCamin.jpg" alt="MonjeCaminando" width="100%">
                </div>
            </div>
            <!--tercera columna de las fotos estáticas-->
            <div class="col" style="background-color: #886e11; padding-top: 20px; display: block;">
                <div class="container"  style="background-color: ivory; padding-top: 20px; padding-bottom: 20px;">
                    <p style="text-align: center;"><strong>"</strong>Es hora de planear un viaje <strong>"</strong> </p>
                </div>
                <div class="container" style="display:block; margin: 30px auto 20px">
                    <img src="../../../assets/fotos/Galle_2.jpg" alt="Galle_2" width="100%">
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid" >
            <!-- Fotos Carrusel -->
        <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
            </ul>
                  <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/fotos/bodhisattva.jpg" alt="bodhisattva" width="1100" height="300">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/fotos/Srilanka1700px.jpg" alt="Srilanka" width="1100" height="300">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/fotos/Udapuwa.jpg" alt="Udapuwa" width="1100" height="300">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/fotos/Arbol_gale.jpg" alt="Udapuwa" width="1100" height="300">
                </div>
            </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
    </div>
    
    <div class="container-fluid">
        <div class="row texto">
            <div class="col" style="background-color: #53f8a9; margin: 10px;">
                <h1 style="height: 120px; text-align: justify;">
                    Where does it come from?
                </h1>
                <i class="fas fa-camera-retro"></i>

                <p style="text-align: justify;">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                </p>
            </div>
            <div class="col" style="background-color:#53f8a9; margin: 10px ;">
                <h1 style="height: 120px;">
                    Where can I get some?
                </h1>
                <i class="fas fa-gamepad"></i>
                <p style="text-align: justify;">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                </p>
            </div>
            <div class="col" style="text-align: justify; background-color:#53f8a9; margin: 10px;">
            </div>

        </div>

    </div>



    <div class="container-fluid fondo">
        <div class="row texto">
            <div class="col">
            </div>
            <div class="col">
                <p>"Ésta es la tierra sagrada de la Montaña de las Flores y Frutos, la Caverna Celeste que esconde la Cortina de Agua."</p>
            </div>
            <div class="col">
            </div>

        </div>

    </div>

</div>




<!--
                <div class="col-4 col-sm-4">
                    <div class="card">
                        <div class="card-body">

                        </div>


                    </div>

                </div>
                    <div class="col-4 col-sm-4">
                        <img class="mx-auto d-block" src="../../../assets/fotos/Arbol2.jpg" alt="arbol">
                    </div>
                    <div class="col-4 col-sm-4">
                        <img class="flat-right" src="../../../assets/fotos/Flores_1-1.jpg" alt="arbol">  
                    </div>

                </div>
-->
