.jumbtron-fluid {
    background-color: white;
}

.carousel-inner img {
    width: 70%;
    height: 70%;
  }

.container-fluid{
    padding-top: 50px;
    padding-bottom: 50px;
   /* background-color: darkslategrey;*/
    
}

.fondo {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../../../assets/fotos/Budha_sonriendo_vignyeta_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 800px;
    font-display: block;
    font-size: larger;
    color: lightcoral;
}

.texto{
    margin-block: 200px ;
}

.fas{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    font-size: 60px;
}