/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

p{
    font-family: 'Scope One', serif;
}

h1{
    font-family: 'Scope One', serif;
    color: gray;
}

.container-fluid{
    font-family: 'Graduate', cursive;
    align-content: center;
    text-align: center;

}